<div class="container">
  <h1 class="mt-3">
    Edit Category
  </h1>
  <ng-container *ngIf="category;else notFound">
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-3">
        <label for="categoryId"
               class="form-label">
          Category Id
        </label>
        <input type="text"
               id="categoryId"
               class="form-control"
               name="categoryId"
               value="{{category.id}}"
               disabled>
        <label for="categoryName"
               class="form-label">
          Category Name
        </label>
        <input type="text"
        id="categoryName"
        class="form-control"
        name="categoryName"
        [(ngModel)]="category.name"
        >
        <label for="urlHandle"
               class="form-label">
          Category Url Handle
        </label>
        <input type="text"
        id="urlHandle"
        class="form-control"
        name="urlHandle"
        [(ngModel)]="category.urlHandle"
        >
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">
          Save
        </button>
        <button class="btn btn-danger ms-3" (click)="onDelete()">
          Delete
        </button>
      </div>
    </form>
  </ng-container>
  <ng-template #notFound>
    <div class="alert alert-warning" role="alert">
      Category Not Found!
    </div>
  </ng-template>
</div>
