<div class="container">
  <h1 class="mt-3">Add Blog Posts</h1>
  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2 mb-5">
      <div class="mt-3">
        <label for="title" class="form-label"> Title </label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          [(ngModel)]="model.title"
        />
      </div>
      <div class="mt-3">
        <label for="shortDescription" class="form-label">
          Short Description
        </label>
        <input
          type="text"
          class="form-control"
          name="shortDescription"
          id="shortDescription"
          [(ngModel)]="model.shortDescription"
        />
      </div>
      <div class="mt-3">
        <label for="content" class="form-label"> Content </label>
        <div class="d-flex flex-row">
          <div class="col-6 p2">
            <textarea
              type="text"
              class="form-control"
              name="content"
              id="content"
              style="height: 350px; max-height: 350px"
              [(ngModel)]="model.content"
            >
            </textarea>
          </div>
          <div class="col-6 p2" style="height: 350px; overflow-y: scroll">
            <markdown [data]="model.content"></markdown>
          </div>
        </div>
      </div>
      <ng-container *ngIf="model.featuredImageUrl">
        <div class="mt-3 mb-3">
          <img [src]="model.featuredImageUrl" [alt]="model.title" />
        </div>
      </ng-container>
      <div class="mt-3">
        <label for="featuredImage" class="form-label">
          Featured Image Url
          <button type="button" (click)="openImageSelector()"> Select Image</button>
        </label>
        <input
          type="text"
          class="form-control"
          name="featuredImage"
          id="featuredImage"
          [(ngModel)]="model.featuredImageUrl"
        />
      </div>
      <div class="mt-3">
        <label for="urlHandle" class="form-label">Url Handle</label>
        <input
          type="text"
          class="form-control"
          name="urlHandle"
          id="urlHandle"
          [(ngModel)]="model.urlHandle"
        />
      </div>
      <div class="mt-3">
        <label for="publishDate" class="form-label">Published Date</label>
        <input
          type="date"
          class="form-control"
          name="publishDate"
          id="publishDate"
          value="{{ model.publishedDate }}"
          [ngModel]="model.publishedDate | date : 'yyyy-MM-dd'"
          (ngModelChange)="model.publishedDate = $event"
        />
      </div>
      <div class="mt-3">
        <label for="author" class="form-label">Author</label>
        <input
          type="text"
          class="form-control"
          name="author"
          id="author"
          [(ngModel)]="model.author"
        />
      </div>
      <div class="mt-3 ">
        <ng-container *ngIf="categories | async as category">
          <select class="form-select" name="Categories" id="categories" [(ngModel)]="model.categories" multiple>
            <option *ngFor="let name of category" [value]="name.id" id="categoryName" selected>{{name.name}}</option>
          </select>
        </ng-container>
      </div>
      <div class="form-check mt-3">
        <input
          class="form-check-input"
          type="checkbox"
          name="isVisible"
          id="isVisible"
          [(ngModel)]="model.isVisible"
        />
        <label class="form-check-label" for="isVisible"> Is Visible? </label>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="images-container-modal" [ngClass]="{'d-block': isImageSelectorOpen, 'd-none': !isImageSelectorOpen}">
  <button class="btn btn-light" type="button" (click)="onCancel()">X</button>
  <app-image-selector></app-image-selector>
</div>

