<ng-container *ngIf="blogDetails$ | async as blogPosts; else loader">
  <div class="container">
    <div class="py-5">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <img class="mg-fluid" [src]="blogPosts.featuredImageUrl" [title]="blogPosts.title">
        <h1 class="mt-4">
          {{blogPosts.title}}
        </h1>
        <div class="d-flex justify-content-between mt-4">
          <span>{{blogPosts.author}}</span>
          <span>{{blogPosts.publishedDate | date:'dd-MM-yyyy'}}</span>
        </div>

        <div *ngIf="blogPosts.categories">
          <span class="badge bg-secondary" *ngFor="let category of blogPosts.categories">
            {{category.name}}
          </span>
        </div>
        <div class="mt-4 blog-content">
          <markdown [data]="blogPosts.content"></markdown>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div class="mt-5 text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
